.contactUs {
  &__banner {
    height: 595px;
    object-fit: cover;
    color: $colorWhite;
    background-image: url('../../images/contact-us_banner.png');
  }

  &__gray {
    height: 49px;
    background-color: #fafafa;
  }

  &__white {
    height: 12px;
    background-color: #ffffff;
  }

  &__red {
    height: 49px;
    background-color: $colorRed;
  }

  &__register {
    display: flex;
    background-color: #f2f2f2;

    &--red {
      width: 474px;
      height: 865px;
  
      &-logo {
        transform: translateY(268px) translateX(192px) rotate(-90deg);
      }
    }

    &--infobox {
      padding: 40px 384px 0;
      color: $colorGray;
    }

    &--info {
      width: 660px;

      &-h2 {
        font-size: 70px;
        font-weight: normal;
        margin-bottom: 40px;
      }
    }

    &--form {
      display: flex;
      flex-direction: column;
      gap: 30px;

      &-row {
        display: flex;
        gap: 20px;

        &__item {
          display: flex;
          flex-direction: column;

          &--label {
            margin-bottom: 12px;
            font-size: 14px;

            &::after {
              content: '*';
              color: $colorRed;
            }

            &-NR {
              margin-bottom: 12px;
              font-size: 14px;
            }
          }

          &--input {
            width: 320px;
            height: 50px;
            padding: 3px 3px 3px 24px;
            border: 0.5px solid $colorGray;
            border-radius: 10px;
            font-size: 18px;
            color: $colorGray;

            &:focus {
              border: 2px solid $colorRed;
              outline: none;
            }

            &::placeholder {
              font-weight: normal;
              font-family: questrial, sans-serif;
            }
          }
      
          &--textarea {
            width: 660px;
            height: 150px;
            padding: 3px 3px 3px 24px;
            border: 0.5px solid $colorGray;
            border-radius: 10px;
            font-size: 18px;
            color: $colorGray;

            &:focus {
              border: 2px solid $colorRed;
              outline: none;
            }
          }
        }
      }

      &-btn {
        width: 278px;
        height: 52px;
        border: 2px solid $colorRed;
        border-radius: 10px;
        background-color: $colorWhite;
        color: $colorRed;
        font-size: 17px ;

        &:hover {
          background-color: $colorRed;
          color: $colorWhite;
        }
      }
    }
  }
  
  &--button {
    position: absolute;
    flex-shrink: 0;
    height: 48px;
    width: 162px;

    color: $colorGray;
    font-weight: bold;
    font-size: 14px;
    border: 1px solid $colorRed;
    border-radius: 24px;
    background-color: $colorWhite;

    transform: translateX(-174px) translateY(12px);

    @include hover-content {
      color: $colorWhite;
      background-color: $colorGray;
      cursor: pointer;
    };
  }
}
