.party {
  width: 100%;
  color: $colorGray;

  &__banner {
    height: 78px;
    width: 100%;
    top: 0;
    object-fit: cover;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    background-image: url('../../images/features_banner4.png');
    filter: brightness(50%);
  }

  &__left {
    grid-column: 1/6;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 0 0 50px;

    @include onMobile {
      grid-column: 1/11;
      padding: 0 20px;
    }

    &--a {
      display: inline-block;
      padding: 20px 0;
    }

    &--h3 {
      display: inline-block;
      color: $colorRed;
    }
   
    &--h2 {
      display: flex;
      align-items: center;
      /* color: $colorBlack; */
      margin-bottom: 30px;
      
      &-flag {
        width: 40px;
        height: 30px;
      }
    }

    &--host {
      position: relative;
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;

      &-l {
        display: flex;

        &-img {
          width: 90px;
          height: 90px;
          margin-right: 30px;
          border-radius: 100%;

          @include mq(1000) {
            width: 75px;
            height: 75px;
            margin-right: 15px;
          }

          @include onMobile {
            width: 60px;
            height: 60px;
          }
        }

        &-text {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          font-size: 24px;

          &1 {
            font-weight: bold;
          }
          
          &2 {
            font-weight: 500;
          }
        }
      }

      &-img {
        width: 90px;
        height: 90px;
        border-radius: 100%;

        @include mq(1000) {
          width: 75px;
          height: 75px;
        }

        @include onMobile {
          width: 60px;
          height: 60px;
        }
      }
      
      &-img1 {
        position: absolute;
        right: 45px;
        width: 90px;
        height: 90px;
        border-radius: 100%;

        @include mq(1000) {
          right: 37.5px;
          width: 75px;
          height: 75px;
        }

        @include onMobile {
          right: 30px;
          width: 60px;
          height: 60px;
        }
      }
      
      &-img2 {
        z-index: 1;
        width: 90px;
        height: 90px;
        border-radius: 100%;

        @include mq(1000) {
          width: 75px;
          height: 75px;
        }

        @include onMobile {
          width: 60px;
          height: 60px;
        }

        &-gray {
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: 2;
          width: 90px;
          height: 90px;
          border-radius: 100%;
          background-color: grey;
          color: $colorWhite;

          @include mq(1000) {
            width: 75px;
            height: 75px;
          }

          @include onMobile {
            width: 60px;
            height: 60px;
          }
        }
      }

      &-img3 {
        z-index: 0.5;
        position: absolute;
        right: 90px;
        width: 90px;
        height: 90px;
        border-radius: 100%;

        @include mq(1000) {
          right: 75px;
          width: 75px;
          height: 75px;
        }

        @include onMobile {
          right: 60px;
          width: 60px;
          height: 60px;
        }
      }
    }

    &--price {
      display: flex;
      align-items: center;
      margin-bottom: 30px;
      font-size: 24px;
      font-weight: 600;

      &-usd {
        width: 32px;
        height: 32px;
        transform: translateY(3px) translateX(-6px);
      }
      
      &-pound {
        width: 18px;
        height: 18px;
        transform: translateY(1px)
      }
    }
    
    &--date {
      display: flex;
      align-items: center;
      margin-bottom: 30px;
      font-size: 20px;

      &-date {
        width: 40px;
        height: 40px;
        transform: translateY(3px) translateX(-10px);
      }

      &-span {
        margin-right: 50px;
        font-weight: 400;
      }
    }
 
    &--location {
      display: flex;
      align-items: center;
      margin-bottom: 30px;
      font-size: 20px;

      &-svg {
        width: 30px;
        height: 30px;
        transform: translateX(-5px);
      }

      &-span {
        margin-right: 50px;
        font-weight: 400;
      }
    }

    &--age {
      margin-bottom: 30px;
      font-weight: 400;
    }
    
    &--rate {
      display: flex;
      align-items: center;
      margin-bottom: 30px;

      &-span {
        margin-right: 30px;
      }
    }

    &--btn {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 72px;
      width: 100%;
      margin-bottom: 30px;
      background-color: $colorRed;
      border: none;
      border-radius: 10px;
      color: white;
      font-size: 24px;
      font-weight: 700;

      &:hover {
        color: $colorRed;
        background-color: $colorWhite;
        border: 2px solid $colorRed;
        cursor: pointer;
      }

      @include onMobile {
        display: none;
      }
    }
  }

  &__slider--box {
    width: 100%;
    height: 400px;
    margin-bottom: 40px;
  }

  &__right {
    grid-column: 6/11;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 70px 50px 0 0;

    @include onMobile {
      grid-column: 1/11;
      padding: 0 20px;
    }

    &--notes {
      font-size: 18px;

      &-h3 {
        margin-bottom: 30px;
      }
      
      &-p {
        margin-bottom: 30px;
      }
    }

    &--map {
      width: 100%;
      min-height: 200px;
      height: 100%;
      margin-bottom: 14px;
      border-radius: 10px;

      @include onMobile {
        min-height: 300px;
        height: 500px;
        margin-bottom: 30px;
      }
    }

    &--btn {
      display: none;
      height: 72px;
      width: 100%;
      margin-bottom: 30px;
      background-color: $colorRed;
      border: none;
      border-radius: 10px;
      color: white;
      font-size: 24px;
      font-weight: 700;

      &:hover {
        color: $colorRed;
        background-color: $colorWhite;
        border: 2px solid $colorRed;
        cursor: pointer;
      }

      @include onMobile {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: none;
      }
    }
  }
}

.stars {
  display: flex;

  @for $index from 1 through 5 {
    &--#{$index} :nth-child(-n + #{$index}) {
      background-image: url(../../images/star-active.svg);
    }
  }
}

.stars_star {
  width: 24px;
  height: 24px;
  margin-right: 4px;
  background-position: center;
  background-size: cover;
  background-image: url(../../images/star.svg);
  background-repeat: no-repeat;
}

.PartyLocation {
  width: 30px;
  height: 30px;
  /* z-index: 1000; */
}
