.home {
  display: block;
  width: 100%;

  &__banner {
    position: relative;
    display: block;
    height: 1174px;
    width: 100%;
    
    
    &::before {
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      object-fit: cover;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url('../../images/home_banner.png');
      filter: brightness(60%);
    }

    @include onMobile {
      height: 750px;
      background-image: url('../../images/mobile/home_banner-m.jpg');
      background-size: content;
    }

    &-center {
      position: relative;
      display: grid;
      grid-template-columns: 1fr;
      column-gap: $grid_gutter;
      padding-top: 150px;
      /* margin: auto; */
      color: $colorWhite;
      text-align: center;
    }
  }

  &__mobile1 {
    position: relative;
    z-index: 3;
    height: 565px;
    width: 298px;
    /* transform: rotate(-7deg) translateX(12px); */

    transform: translateX(-1500px);
    opacity: 0;
    transition: all 3s ease 0s;

    &._active {
      transform: rotate(-7deg) translateX(12px);
      opacity: 1;
    }

    /* animation-name: slideRight;
    animation-duration: 2s; 
    animation-timing-function: ease-in-out; 
    visibility: visible;

    @keyframes slideRight {
      0% {
        transform: translateX(-1500px) rotate(-7deg);
        opacity: 0;
      }
      100% {
        transform: translateX(12px) rotate(-7deg);
        opacity: 1;
      }
    } */

    @include onMobile {
      height: 305px;
      width: 166px;
    }
  }

  &__mobile2 {
    position: relative;
    z-index: 2;
    height: 565px;
    width: 298px;
    /* transform: rotate(7deg) translateX(-12px); */

    transform: translateX(1500px);
    opacity: 0;
    transition: all 3s ease 0s;

    &._active {
      transform: rotate(7deg) translateX(-12px);
      opacity: 1;
    }

    /* animation-name: slideLeft;
    animation-duration: 2s; 
    animation-timing-function: ease-in-out; 
    visibility: visible;

    @keyframes slideLeft {
      0% {
        transform: translateX(1500px) rotate(7deg);
        opacity: 0;
      }
      100% {
        transform: translateX(-12px) rotate(7deg);
        opacity: 1;
      }
    } */

    @include onMobile {
      height: 305px;
      width: 166px;

      @keyframes slideLeft {
        0% {
          transform: translateX(400px) rotate(7deg);
          opacity: 0;
        }
        100% {
          transform: translateX(-12px) rotate(7deg);
          opacity: 1;
        }
      }
    }
  }

  &__span1 {
    margin-bottom: 40px;
    font-size: 70px;
    font-weight: bold;
    line-height: 1.2em;

    @include onMobile {
      font-size: 26px;
      margin-bottom: 24px;
    }
  }
  
  &__span2 {
    margin-bottom: 40px;
    font-size: 30px;

    @include onMobile {
      font-size: 18px;
    }
  }

  &__span-reg {
    font-size: 38px;
    margin-bottom: 80px;
    animation-name: slideRight;
    animation-duration: 3s; 
    animation-timing-function: ease-in-out; 
    visibility: visible;

    @keyframes slideRight {
      0% {transform: translateX(-150%);}
      100% {transform: translateX(0%);}
    }

    @include onMobile {
      font-size: 20px;
    }
  }
  
  &__span3 {
    margin-bottom: 40px;
  }
  
  &__span4 {
    margin: 0 10px 40px 10px;
    color: $colorRed;
  }

  &__red_shadow {
    position: absolute;
    z-index: 1;
    width: 100%;
    transform: translateY(-99%);

    @include onMobile {
      height: 400px;
    }
  }

  &__redSection {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: $grid_gutter;
    justify-content: top;
    padding-top: 20px;
    align-items: center;
    height: auto;
    background-color: $colorRed;
    color: $colorWhite;
    text-align: center;

    &-span1 {
      font-size: 35px;
      margin-bottom: 30px;
      margin-top: 15px;

      transform: translateY(40px);
      opacity: 0;
      transition: all 1s ease 0s;

      &._active {
        transform: translateY(0);
        opacity: 1;
      }

      @include onMobile {
        font-size: 22px;
      }
    }
    
    &-span2 {
      max-width: 810px;
      margin: 0 auto;
      font-size: 55px;
      margin-bottom: 40px;

      transform: translateY(40px);
      opacity: 0;
      transition: all 1s ease 0s;

      &._active {
        transform: translateY(0);
        opacity: 1;
      }

      @include onMobile {
        width: 300px;
        font-size: 27px;
      }
    }
    
    &-span3 {
      font-size: 20px;
      margin-bottom: 40px;

      transform: translateY(40px);
      opacity: 0;
      transition: all 1s ease 0s;

      &._active {
        transform: translateY(0);
        opacity: 1;
      }
      
      @include onMobile {
        font-size: 15px;
      }
    }
  }

  &__gray {
    height: 63px;
    background-color: #f2f2f2;

    @include onMobile {
      display: none;
    }

    &2 {
      height: 63px;
      background-color: #f2f2f2;

      @include onMobile {
        display: block;
        height: 120px;
      }
    }
   
    &3 {
      display: block;
      height: 40px;
    }
  }
  
  &__white {
    display: none;

    @include onMobile {
      display: block;
      height: 12px;
      background-color: #ffffff;
    }
  }
}

.festo-easy {
  position: relative;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  column-gap: $grid_gutter;
  color: $colorGray;

  @include onMobile {
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
  }

  &__mobiles {
    position: absolute;
    object-position: 50% 50%;
    right: 50%;
    top: 80px;

    @include onMobile {
      width: 306px;
      height: 300px;
      right: 0;
      left: 0;
      margin: 0 auto;
      top: -120px;
    }
  }

  &__red {
    grid-column: 1/5;
    height: 612px;
    background-color: $colorRed;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

    @include onMobile {
      height: 180px;
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
      border-bottom-right-radius: 0;
    }
  }

  &__info {
    grid-column: 6/11;
    padding: 118px 20px;
    margin: 0 auto;
    display: flex;
    justify-content: center;

    @include onMobile {
      padding: 40px 20px;
      text-align: center;
    }
    
    &--h2 {
      margin-bottom: 40px;
      max-width: 440px;
      font-size: 45px;
      font-weight: 400;

      @include onMobile {
        margin-bottom: 30px;
        font-size: 25px;
      }
     }

    &--h3 {
      margin-bottom: 32px;
      max-width: 440px;
      font-size: 25px;
      font-weight: 400;

      @include onMobile {
        margin-bottom: 24px;
        font-size: 16px;
      }
    }

    &--p {
      margin-bottom: 56px;
      max-width: 364px;
      font-size: 17px;

      @include onMobile {
        margin: 0 auto 40px;
        text-align: center;
        font-size: 15px;
      }
    }
    
    &--sub {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 56px;
      width: 252px;
      height: 46px;
      color: $colorRed;
      font-size: 17px;
      text-decoration: none;
      border: 2px solid $colorRed;
      border-radius: 10px;
      transition: all 0.03s ease  ;
      
      &:hover {
        color: $colorWhite;
        background-color: $colorRed;
      }

      @include onMobile {
        margin: 0 auto 40px;
        text-align: center;
        font-size: 15px;
      }
    }
  }
}

.plan-parties {
  position: relative;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  justify-content: space-between;
  color: $colorGray;

  &__white {
    display: none;

    @include onMobile {
      display: block;
      height: 12px;
      background-color: #ffffff;
    }
  }

  @include onMobile {
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
  }

  &__info {
    grid-column: 1/6;
    display: flex;
    justify-content: center;
    padding: 144px 0 0 24px;

    @include onMobile {
      order: 2;
      text-align: center;
    }
    
    &--h2 {
      margin-bottom: 40px;
      max-width: 440px;
      font-size: 45px;
      font-weight: 400;

      @include onMobile {
        font-size: 25px;
      }
    }

    &--h3 {
      margin-bottom: 32px;
      max-width: 440px;
      font-size: 25px;
      font-weight: 400;

      
      @include onMobile {
        font-size: 15px;
        width: 270px;
      }
    }

    &--p2 {
      display: flex;
      align-items: center;
      font-size: 17px;
      margin-bottom: 40px;
    }

    &--p {
      display: flex;
      align-items: center;
      font-size: 17px;
      margin-bottom: 30px;

      
      @include onMobile {
        flex-direction: column;
        justify-content: center;
        font-size: 14px;
      }

      &-p1 {
        width: 40px;
        height: 29px;
        margin-right: 12px;
        font-weight: bold;

        @include onMobile {
          margin-bottom: 20px;
          margin-right: 0;
        }
      }
      
      &-p3 {
        width: 22px;
        height: 29px;
        margin-right: 12px;
        font-weight: bold;

        @include onMobile {
          margin-bottom: 20px;
          margin-right: 0;
        }
      }

      &-p2 {
        margin-right: 60px;

        @include onMobile {
          text-align: center;
          margin-bottom: 20px;
          margin-right: 0;
        }
      }
    }
    
    &--sub {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 56px;
      width: 252px;
      height: 46px;
      color: $colorRed;
      font-size: 17px;
      text-decoration: none;
      border: 2px solid $colorRed;
      border-radius: 10px;
      transition: all 0.03s ease  ;
      
      &:hover {
        color: $colorWhite;
        background-color: $colorRed;
      }

      @include onMobile {
        margin: 0 auto;
      }
    }
  }

  &__red {
    grid-column: 7/11;
    height: 612px;
    background-color: $colorRed;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

    @include onMobile {
      order: 1;
      height: 180px;
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 0;
    }
  }

  &__mobile {
    position: absolute;
    width: 272px;
    height: 532px;
    left: 55%;
    top: 60px;

    @include onMobile {
      width: 174px;
      height: 346px;
      right: 0;
      left: 0;
      margin: 0 auto;
      top: -172px;
    }
  }
}

.sell-tickets {
  position: relative;
  color: $colorGray;
  display: grid;
  grid-template-columns: repeat(10, 1fr);

  @include onMobile {
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
  }

  &__mobiles1 {
    position: absolute;
    z-index: 1;
    right: 60%;
    top: 48px;

    @include onMobile {
      display: none;
    }
  }
  
  &__mobiles2 {
    position: absolute;
    right: 51%;
    top: 108px;

    @include onMobile {
      width: 159px;
      height: 317px;
      right: 0;
      left: 0;
      margin: 0 auto;
      top: -140px;
    }
  }
  
  &__info {
    grid-column: 6/11;
    &--p-p2 {
      margin-right: 74px;
    }
    
    &--p-p2-1 {
      margin-right: 20px;
    }
  }

  &__red {
    grid-column: 1/5;
    height: 612px;
    background-color: $colorRed;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

    @include onMobile {
      order: 0;
      height: 180px;
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
      border-bottom-right-radius: 0;
    }
  }

  &__info {
    padding: 118px 20px 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;

    @include onMobile {
      text-align: center;
      max-width: 320px;
    }
    
    &--h2 {
      margin-bottom: 40px;
      max-width: 440px;
      font-size: 45px;
      font-weight: 400;

      @include onMobile {
        font-size: 25px;
      }
    }

    &--h3 {
      margin-bottom: 40px;
      max-width: 440px;
      font-size: 25px;
      font-weight: 400;

      @include onMobile {
        font-size: 15px;
      }
    }

    &--p {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 17px;
      margin-bottom: 56px;
      max-width: 364px;
      font-size: 17px;

      @include onMobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        margin-right: 0;
      }

      &-box {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        @include onMobile {
          flex-direction: column;
          justify-content: center;
          margin-right: 50px;
        }

        &1 {
          @include onMobile {
            margin-right: 0;
            justify-self: flex-end;
          }
        }
       
        &2 {
          display: flex;
          justify-content: flex-start;
          align-items: center;

          @include onMobile {
            flex-direction: column;
            margin-right: 70px;
            margin-left: 30px;
            justify-self: flex-end;
          }
        }

        &4 {
          display: flex;
          justify-content: flex-start;
          align-items: center;

          @include onMobile {
            flex-direction: column;
            margin-right: 0;
          }
        }
      }

      &-p1 {
        width: 40px;
        height: 29px;
        margin-right: 12px;
        font-weight: bold;
  
        @include onMobile {
          margin-bottom: 20px;
          margin-right: 0;
        }
      }

      &-p3 {
        width: 22px;
        height: 29px;
        margin-right: 12px;
        font-weight: bold;

        @include onMobile {
          margin-bottom: 20px;
          margin-right: 10px;
        }
      }

      &-p2 {
        margin-right: 70px;

        @include onMobile {
          text-align: center;
          margin-right: 0;
        }
      }

      @include onMobile {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
      }
    }
   
    &--p2 {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-size: 17px;
      margin-bottom: 56px;
      max-width: 364px;
      font-size: 17px;

      @include onMobile {
        justify-content: space-between;
        margin-bottom: 20px;
        margin-right: 0;
      }

      &-p1 {
        width: 40px;
        height: 29px;
        margin-right: 12px;
        font-weight: bold;
  
        @include onMobile {
          margin-bottom: 20px;
          margin-right: 0;
        }
      }

      &-p3 {
        width: 22px;
        height: 29px;
        margin-right: 12px;
        font-weight: bold;

        @include onMobile {
          margin-bottom: 20px;
          margin-right: 0;
        }
      }

      &-p2 {
        margin-right: 60px;

        @include onMobile {
          text-align: center;
          margin-bottom: 20px;
          margin-right: 0;
        }
      }

      @include onMobile {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
      }
    }
    
    &--sub {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 56px;
      width: 252px;
      height: 46px;
      color: $colorRed;
      font-size: 17px;
      text-decoration: none;
      border: 2px solid $colorRed;
      border-radius: 10px;
      transition: all 0.03s ease  ;
      
      &:hover {
        color: $colorWhite;
        background-color: $colorRed;
      }
    }
  }
}

.reviews {
  padding: 70px 100px 148px;
  background-color: #f2f2f2;

  @include mq(1000) {
    padding: 50px 50px;
  }

  @include onMobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  &__mobile {
    display: none;

    @include onMobile {
      display: block;
      width: 160px;
      height: 318px;
      margin: 0 auto 20px;
    }
  }

  &__slider {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-column-gap: 20px;
    justify-content: space-between;
    margin-bottom: 132px;
    padding: 78px 0;
    /* min-width: 1000px; */
    background-color: $colorRed;
    border-radius: 20px;
    font-size: 55px;
    color: $colorWhite;

    @include onMobile {
      display: none;
    }

    &--textbox {
      grid-column: 2/6;
      display: flex;
      flex-direction: column;

      @include mq(1000) {
        grid-column: 1/6;
        padding-left: 10px;
      }

      &-text {
        line-height: 1.4em;
      }

      &-logo {
        width: 198px;
        height: 78px;
        transform: translateX(-28px);
      }
    }

    &--sliderbox {
      grid-column: 6/10;
      box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.1);

      @include mq(1000) {
        grid-column: 6/11;
        padding-right: 10px;
      }

      @include onMobile {
        display: none;
      }
    }
  }

  &__photos {
    display: flex;
    justify-content: stretch;
    column-gap: 10px;
    width: 100%;

    @include onMobile {
      flex-direction: column;
      row-gap: 10px;
    }

    &--photo1 {
      width: 100%;
      height: 400px;
      background-image: url(../../images/photo1.png);
      background-repeat: no-repeat;
      background-position: center center;
      object-fit: cover;

      @include onMobile {
        flex-direction: column;
        max-width: 767px;
      }
    }

    &--photo2 {
      width: 100%;
      height: 400px;
      background-image: url(../../images/photo2.png);
      background-repeat: no-repeat;
      background-position: center;
      object-fit: cover;
    }

    &--photo3 {
      width: 100%;
      height: 400px;
      background-image: url(../../images/photo3.png);
      background-repeat: no-repeat;
      background-position: center;
      object-fit: cover;
    }
  }
}
