.features {
  width: 100%;
  color: $colorGray;

  &__banner {
    height: 595px;
    width: 100%;
    top: 0;
    object-fit: cover;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    background-image: url('../../images/features_banner4.png');
    filter: brightness(50%);

    @include mq(768) {
      height: 400px;
    }
    
    @include mq(568) {
      height: 350px;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;

    &--text1 {
      margin: 48px auto 20px;
      font-size: 70px;
      font-weight: normal;
      text-align: center;

      @include onMobile {
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        font-size: 34px;
        color: $colorWhite;
        transform: translateY(-300%);
      }
    }
    
    &--text2 {
      margin-bottom: 68px;
      font-size: 20px;
      font-weight: normal;
      text-align: center;

      @include onMobile {
        margin: 0 auto;
        padding: 30px 0;
        width: 380px;
        font-size: 18px;
      }

      @include mq(600) {
        margin: 0 auto;
        padding: 30px 0;
        width: 280px;
        font-size: 18px;
      }
    }
  }

  &__apps {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 52px 0 96px;
    background-color: #f2f2f2;

    @include onMobile {
      padding: 52px 0 36px;
    }

    &--appsbox {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 30px;
    }
    
    &--boxrow {
      display: flex;
      gap: 30px;

      @include onMobile {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 17px;
      }
    }

    &--box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 218px;
      height: 150px;
      background-color: $colorWhite;
      border-radius: 10px;
      box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.1);

      font-size: 17px;

      @include onMobile {
        width: 380px;
        margin: 0 20px;
      }

      @include mq(600) {
        width: 280px;
        margin: 0 20px;
      }

      &-img {
        width: 66px;
        height: 66px;
        margin-bottom: 8px;

        &6 {
          width: 85px;
          height: 62px;
        }
      }
    }
    
    &--box-center {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 218px;
      height: 150px;
      background-color: $colorWhite;
      border-radius: 10px;
      box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.1);

      font-size: 17px;

      transform: scale(0);
      opacity: 0;
      transition: all 1s ease 0s;

      &._active {
        transform: scale(1);
        opacity: 1;
      }

      @include onMobile {
        width: 380px;
        margin: 0 20px;
        transform: scale(1);
        opacity: 1;
      }

      @include mq(600) {
        width: 280px;
        margin: 0 20px;
      }

      &-img {
        width: 66px;
        height: 66px;
        margin-bottom: 8px;
      }
    }

    &--box-leftside {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 218px;
      height: 150px;
      background-color: $colorWhite;
      border-radius: 10px;
      box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.1);

      font-size: 17px;

      transform: translateX(-30%);
      opacity: 0;
      transition: all 1s ease 0s;

      &._active {
        transform: translateX(0);
        opacity: 1;
      }

      @include onMobile {
        width: 380px;
        margin: 0 20px;
        transform: translateX(0);
        opacity: 1;
      }

      @include mq(600) {
        width: 280px;
        margin: 0 20px;
      }

      &-img {
        width: 66px;
        height: 66px;
        margin-bottom: 8px;
      }
    }
    
    &--box-rightside {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 218px;
      height: 150px;
      background-color: $colorWhite;
      border-radius: 10px;
      box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.1);

      font-size: 17px;

      transform: translateX(30%);
      opacity: 0;
      transition: all 1s ease 0s;

      &._active {
        transform: translateX(0);
        opacity: 1;
      }

      @include onMobile {
        width: 380px;
        margin: 0 20px;
        transform: translateX(0);
        opacity: 1;
      }

      @include mq(600) {
        width: 280px;
        margin: 0 20px;
      }

      &-img {
        width: 66px;
        height: 66px;
        margin-bottom: 8px;
      }
    }
  }

  &__banner2box {
    display: none;
    position: relative;
    text-align: center;
    height: 824px;
    background-color: transparent;

    @include onMobile {
      display: block;
      height: 252px;
    }
  }

  &__banner2parallax {
    position: absolute;
    height: 824px;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;


    @include onMobile {
      display: none;
    }
  }

  &__banner2 {
    content: '';
    display: none;
    height: 824px;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../../images/features_banner6.png');
    background-position: center;

    @include onMobile {
      display: block;
      height: 252px;
    }

    &--text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 824px;
      width: 630px;
      margin: 0 auto;
      color: $colorWhite;
      text-align: center;

      @include onMobile {
        width: 280px;
        gap: 1px;
        height: 252px;
      }

      &-text1 {
        font-size: 80px;
        font-weight: bold;

        @include onMobile {
          font-size: 33px;
        }
      }
      
      &-text2 {
        font-size: 70px;
        font-weight: normal;

        @include onMobile {
          font-size: 30px;
        }
      }
    }
  }
}
