.pp {
  &__text {
    padding: 44px 0 60px;
    background-color: #f2f2f2;
    text-align: center;

    @include onMobile {
      position: absolute;
      width: 100%;
      top: 260px;
      background-color: transparent;
      color: $colorWhite;
      transform: translateX(50wv);
    }
   
    @include mq(568) {
      top: 220px;
    }

    &--h {
      font-size: 70px;
      font-weight: normal;

      @include onMobile {
        font-size: 34px;
      }
    }
  }

  &__mainbox {
    max-width: 1000px;
  }

  &__main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 20px;
    font-size: 16px;
    font-stretch: 100%;

    @include onMobile {
      display: grid;
      column-gap: $grid_gutter;
      grid-template-columns: 1fr;
      font-size: 18px;
    }

    &--h3 {
      margin-bottom: 20px;
      color: black;

      @include onMobile {
        font-size: 18px;
      }
    }

    &--abz {
      display: block;
      margin-bottom: 20px;
      line-height: 1.2em;

      @include onMobile {
        font-size: 18px;
      }
    }

    &--ppcookies {
      @include mq(1100) {
        width: 750px;
      }
      
      @include mq(768) {
        width: 550px;
      }
      
      @include mq(600) {
        width: 450px;
      }
      
      @include mq(470) {
        width: 300px;
      }
    }

    &--pdf {
      display: flex;
      gap: 10px;
      justify-content: flex-start;
      align-items: center;
      font-size: 20px;

      @include onMobile {
        display: block;
        left: 0;
        font-size: 18px;
      }

      &-span {
        margin-right: 60px;

        @include onMobile {
          display: block;
          left: 0;
          margin: 30px 0;
        }
      }
    }
  }
}
