.header {
  position: fixed;
  z-index: 4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 30px;
  height: auto;
  width: 100%;
  background-color: transparent;

  &-scrolled {
    position: fixed;
    z-index: 4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 30px;
    height: auto;
    width: 100%;
    background-color: rgba(255, 56, 34, 1);
    box-shadow: 0 5px 20px 1px rgba(0,0,0,0.2);  
  }
  
  &__rightSide {
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
  }

  &__home {
    padding: 0 15px;
    color: $colorWhite;
    text-decoration: none;
        
    &:hover {
      color: $colorGray;
    }
  }
  
  &__features {
    padding: 0 15px;
    color: $colorWhite;
    text-decoration: none;
        
    &:hover {
      color: $colorGray;
    }
  }
  &__register {
    padding: 0 30px 0 15px;
    color: $colorWhite;
    text-decoration: none;
        
    &:hover {
      color: $colorGray;
    }
  }
}
