.header {
  position: fixed;
  z-index: 4;
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: $grid_gutter;
  justify-content: space-between;
  align-items: center;
  padding: 5px 30px;
  height: auto;
  width: 100%;
  background-color: transparent;

  @include onMobile {
    padding: 17px;
  }

  &-scrolled {
    position: fixed;
    z-index: 4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: $grid_gutter;
    justify-content: space-between;
    align-items: center;
    padding: 5px 30px;
    height: auto;
    width: 100%;
    background-color: rgba(255, 56, 34, 1);
    box-shadow: 0 5px 20px 1px rgba(0,0,0,0.2); 
    
    @include onMobile {
      padding: 17px;
    }
  }

  &__logo {
    @include onMobile {
      width: 110px;
      height: 44px;
    }
  }
  
  &__rightSide {
    display: flex;
    justify-content: flex-end;
    font-size: 16px;
    font-weight: 500;

    &--home {
      padding: 0 15px;
      color: $colorWhite;
      text-decoration: none;
          
      &:hover {
        color: $colorGray;
      }

      @include onMobile {
        display: none;
      }
    }
    
    &--features {
      padding: 0 15px;
      color: $colorWhite;
      text-decoration: none;
          
      &:hover {
        color: $colorGray;
      }

      @include onMobile {
        display: none;
      }
    }

    &--register {
      padding: 0 30px 0 15px;
      color: $colorWhite;
      text-decoration: none;
          
      &:hover {
        color: $colorGray;
      }

      @include onMobile {
        display: none;
      }
    }
  }

  &__menu {
    display: none;

    @include onMobile {
      display: flex;
      width: 26px;
      height: 21px;
      margin-right: 12px;
      flex-direction: column;
      justify-content: space-between;
      cursor: pointer;

      &--line1 {
        width: 13px;
        height: 3px;
        background-color: $colorWhite;
        color: $colorWhite;
        border-radius: 3px;
      }
      
      &--line2 {
        width: 26px;
        height: 3px;
        background-color: $colorWhite;
        color: $colorWhite;
        border-radius: 3px;
      }
      
      &--line3 {
        align-self: flex-end;
        width: 13px;
        height: 3px;
        background-color: $colorWhite;
        color: $colorWhite;
        border-radius: 3px;
      }
    }
  }
}

.page__menu {
  @include onMobile {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0;
    transform: translateX(100%);
    transition: transform 0.3s;

    &:target {
      transform: translateX(0);
    }
  }
}

.menu {
  @include onMobile {
    box-sizing: border-box;
    height: 100vh;
    background-color: $colorRed;
    overflow-y: auto;
  }
}
