@import './components/Header.scss';
@import './components/Home/Home.scss';
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: questrial, sans-serif;
}