@import './utils.scss';
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import './components/Header';
@import './pages/Home/Home';
@import './pages/Features/Features';
@import './pages/ContactUs/ContactUs';
@import './pages/PrivacyPolicy/PrivacyPolicy';
@import './components/Footer';
@import './components/grid';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.4s ease;
}

body {
  position: relative;
  min-width: 1000px;
  font-family: questrial, sans-serif;
  font-weight: normal;
  scroll-behavior: smooth;
  transition: 1.4s ease;
}

.App {
  position: absolute;
  display: block;
  top: 0;
  width: 100%;
  margin: 0 auto;
  /* max-width: 1680px; */
}

.isActive {
  color: $colorGray;
}